body {
    background-color: lightblue;
    color: brown;
    font-family: Arial;
    margin: 0px;
}
a {
    color: green;
    text-decoration: none;
    transition: 1s 2s;
}

a:link {
    color: brown;
    text-decoration: underline;
}
a:visited {
    color: peru;
    text-decoration: underline;
}

a:hover {
    color: black;
    text-decoration: underline;
    transition: 0s 3s;
}

a:active {
    color: rgb(172, 171, 189);
    opacity: 0.3;
}

div.menu {
    border: 7px solid #00880080;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

div.menu:hover {
    background-color: #ffffff30;
    box-shadow: 0 0 15px #00000030;
}